<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-07-11T01:08:53Z</date>
	<key>WorkspacePath</key>
	<string>/Users/andy06/Desktop/swift_call_c/swift_call_c.xcodeproj</string>
</dict>
</plist>
